@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'XiaolaiMonoSC';
  src: url('/XiaolaiMonoSC-without-Hangul-Regular.ttf') format('truetype');
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'XiaolaiMonoSC', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 自定义样式 */
.min-h-screen {
  min-height: 100vh;
}